body {
  font-size: 1.2rem;
  background-image: url(../snow.png) center center no-repeat;
  background-size: cover;
  background-color: rgb(196, 196, 174);

  .third {
    color: #F9C80E;
  }
}

@media (min-width: 1920px){
    .v-container {
      max-width: 1200px;
  }
}